<div class="footer">
    <ul id="footer_version" class="pull-left muted">
        <li><small>{{ _('octoprint') }} <span class="version">{{ display_version|e }}</span></small></li>
        <li><small>{{ _('Python') }} <span class="python_version">{{ python_version|e }}</span></small></li>
    </ul>
    <ul id="footer_links" class="pull-right">

        <li id="footer_about"><a href="javascript:void(0)" data-bind="click: show"><i class="fa fa-info-circle"></i> {{ _('About') }}</a></li>
    </ul>
</div>
